@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__nuxt {
  height: 100%;
}

.block_classes {
  min-height: 20px;
}

/* .block-image, .block-image-thumb {
  height: 500px;
  width: 100%;
  object-fit: cover;
} */

.block_classes.bold {
  font-weight: 700;
}

.block_classes.italic {
  font-style: italic;
}

.block_classes.strikethrough {
  text-decoration: line-through;
}

.block_classes.underline {
  text-decoration: underline;
}

.block_classes.gray {
  color: rgba(120, 119, 116, 1);
}

.block_classes.brown {
  color: rgba(159, 107, 83, 1);
}

.block_classes.red {
  color: rgba(212, 76, 71, 1);
}

.block_classes.orange {
  color: rgba(217, 115, 13, 1);
}

.block_classes.yellow {
  color: rgba(203, 145, 47, 1);
}

.block_classes.green {
  color: rgba(68, 131, 97, 1);
}


.block_classes.blue {
  color: rgba(51, 126, 169, 1);
}

.block_classes.purple {
  color: rgba(144, 101, 176, 1);
}

.block_classes.pink {
  color: rgba(193, 76, 138, 1);
}

.block-h-one {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.block-h-two {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 300;
}

.block-h-three {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
} 


#post_content::first-letter {
  initial-letter: 2;
  color: #5A5A5A;
}


blockquote{
  padding: 2em 30px 1em 35px;
  border-left: 3px solid #EDEDED ;
  position: relative;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#EDEDED;
  font-size: 3rem;
  position: absolute;
  left: 10px;
  top: 20px;
}

blockquote::after{
  content: '';
}
